@font-face {
    font-family: 'Nyght-Light';
    src: url(../fonts/nyght/NyghtSerif-LightItalic.woff2);
    font-weight: 400;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
    font-family: Inter;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F9F9F9;
}
body {
    background-color: #F9F9F9;
    width: 100%;
    margin-bottom: 100px;
    padding: 16px;
}
p {
    font-family: 'Inter';
    font-size: 1em;
}

/* ----------      --------- */
/* ---------- HEAD --------- */
/* ----------      --------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}
header nav {
    max-width: 100%;
    width: auto;
    padding: 16px;
}
nav ul {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    padding: 0;
    & li {
        padding: 16px 16px 16px 16px;
        & a {
            color: #FFF;
            mix-blend-mode: difference;
            text-decoration: none;
            position: relative;
            padding-bottom: 5px;
            text-transform: uppercase;
            &::before {
                content: "";
                position: absolute;
                height: 1px;
                width: 0%;
                background-color: #FFF;
                mix-blend-mode: difference;
                transition: width 0.5s cubic-bezier(.26,.78,.25,.8);
                bottom: 0;
                right: 0;
                left: auto;
            }
            &:hover::before {
                width: 100%;
                right: auto;
                left: 0
            }
        }
    }
}


/* ----------      --------- */
/* ---------- MAIN --------- */
/* ----------      --------- */
/* main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
} */

section#hero {
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: auto;
    height: calc(100vh - 64px);
    background-image: url('../assets/phoque.jpg');
    background-size: cover;
    background-position: center;
    flex-wrap: wrap;
    padding: 16px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
    mix-blend-mode: difference;
    font-size: 16em;
    line-height: 0.8;
    padding-top: 60px;
}
h1 span.esprit {
    font-family: 'Inter';
}
h1 span.farouche {
    font-family: 'Nyght-Light';
}

div.inner-hero {
    display: flex;
    max-width: 100%;
    width: 100%;
    flex-wrap: nowrap;
    & div:first-of-type {
        width: 50%;
        display: flex;
        align-items: end;
        justify-content: start;
        & p {
            width: 50%;
            color: #FFF;
        }
    }
    & div:last-of-type {
        width: 50%;
        display: flex;
        align-items: end;
        justify-content: end;
        & p {
            width: 50%;
            text-align: right;
            color: #FFF;
        }
    }
}

/* Section desc */
section#desc {
    display: flex;
    flex-wrap: nowrap;
    padding: 16px;
    & img {
        width: 33%;
    }
    & div {
        width: 66%;
    }
}


/* button.btn a {
    width: 100%;
    height: 100%;
    padding: 8px 32px 8px 32px;
    color: #FFF;
    font-weight: 500;
    text-decoration: none;
    background-color: #000;
    border-radius: 200px;
    transition: all 300ms ease;
}
p.btn {
    position: relative;
    transition: all 300ms ease;
    box-shadow: rgba(50, 50, 93, .25) 0 13px 27px -5px, rgba(0, 0, 0, .3) 0 8px 16px -8px;
}
p.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 50px -10px rgb(14, 14, 14);
}
p.btn:hover a{
    background-color: rgb(211, 107, 95);
} */

/* ----------        --------- */
/* ---------- FOOTER --------- */
/* ----------        --------- */
footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    z-index: -1
}

footer p {
    font-size: 1rem;
    color: #FFF;
}