<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{{ .Title }}</title>
<link rel="stylesheet" href="/css/stylesheet.css">
<link rel="preconnect" href="https://your-font-file-host/">
<link rel="stylesheet" href="https://your-font-file-host/inter.css">
<link rel="stylesheet" href="https://unpkg.com/lenis@1.1.20/dist/lenis.css">
<style>@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
</style>
<script src="https://unpkg.com/lenis@1.1.20/dist/lenis.min.js"></script>
<script type="text/javascript" src="/scripts/script.js"></script>