{{ define "main" }}
    {{ .Content }}
    <section id="hero">
        <h1>
            <span class="esprit">Esprit</span>
            <span class="farouche">Farouche</span>
        </h1>
        <div class="inner-hero">
            <div>
                <p>Jeune Webdesigner truculent. "Dantesque as fuck" de source quasi-sûre.</p>
            </div>
            <div>
                <p>Contactez-moi pour une Xperience nouvelle. #Excellence #EpiphanieDuWeb</p>
            </div>
        </div>
    </section>
    <!-- <section id="desc">
        <img src="/assets/ering.jpg" alt="un mec" class="img-presentation">
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, porttitor vestibulum vulputate natoque parturient gravida dui, cum rhoncus maecenas mattis viverra platea. Vehicula augue egestas leo justo consequat integer fringilla sapien conubia non, primis sociis massa feugiat praesent montes felis lacinia velit, suscipit malesuada eu metus lectus ultrices sed mus taciti.</p>
        </div>
    </section> -->
{{ end }}