{{ define "main" }}
    {{ .Content }}
    {{ range where .Site.RegularPages "Type" "projets" }}
    <a href="{{ .RelPermalink }}">
        <section class="list-project">
            <div class="text-project">
                <span class="date-project">{{ .Params.dateProject }}</span>
                <h2 class="title-project">{{ .Params.nameProject }}</h2>
            </div>
            <div class="img-project">
                {{ with .Resources.GetMatch "imageProjet.jpg" }}
                    <img src="{{ .RelPermalink }}">
                {{ end }}
            </div>
        </section>
    </a>
    {{ end }}
{{ end }}
